server:
  port: 10016

spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 135145
    url: jdbc:mysql://localhost:3306/grain_mall?useUnicode=true&characterEncoding=utf8&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=GMT%2B8

  dubbo:
    application:
      name: manage-server
    registry:
      protocol: zookeeper
      address: zookeeper://127.0.0.1:2181
    base-package: com.gj.manage
    protocol:
      name: dubbo
      port: 20880

  devtools:
    restart:
      enabled: true  # 设置开启热部署
#      additional-paths: src/main/java # 设置重启的目录，添加的目录需要restart
      exclude: statics/**,templates/**
    freemarker:
      cache: false    # 页面不加载缓存，修改即时生效

  output:
    ansi:
      enabled: always

# mybatis-plus相关配置
mybatis-plus:
  mapper-locations: classpath:mapper/*.xml
  global-config:
    id-type: 0
    field-strategy: 2
    db-column-underline: true
    refresh-mapper: false
  configuration:
    map-underscore-to-camel-case: true
    cache-enabled: false
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    jdbc-type-for-null: 'null'

logging:
  level:
    root: info