<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gj.gmall.mapper.PaymentMapper">

    <!--    &lt;!&ndash; 返回结果的字段 &ndash;&gt;-->
    <!--    <resultMap id="BaseResultMap" type="">-->
    <!--        <id property="id" column="id"/>-->
    <!--        <result column="id" property="id"/>-->
    <!--        <result column="name" property="name"/>-->
    <!--        <result column="age" property="age"/>-->
    <!--        <result column="password" property="password"/>-->
    <!--    </resultMap>-->

    <!--    &lt;!&ndash; 方法语句 &ndash;&gt;-->
    <!--    &lt;!&ndash; 操作Users的数据 &ndash;&gt;-->
    <!--    <insert id="addByExample" parameterType="">-->
    <!--        insert into users (name, age, password) values (#{name}, #{age}, #{password})-->
    <!--    </insert>-->
    <!--    <update id="updateByExample" parameterType="">-->
    <!--        update users set age = #{age}, password = #{password} where name = #{name}-->
    <!--    </update>-->
    <!--    <select id="selectByExample" resultMap="BaseResultMap" parameterType="java.lang.String">-->
    <!--        select id, name, age, password from users us-->
    <!--        <where>-->
    <!--            <if test=" name != null and name != '' ">-->
    <!--                us.name = #{name}-->
    <!--            </if>-->
    <!--        </where>-->
    <!--    </select>-->

    <!--    &lt;!&ndash; 操作Users的数据 &ndash;&gt;-->
    <!--    <select id="selectByName" resultType="c">-->
    <!--        select name, imgurl, fileurl, addip, addtime, editeip, editetime from img_file iaf-->
    <!--        <where>-->
    <!--            <if test=" name != null and name != '' ">-->
    <!--                iaf.name = #{name}-->
    <!--            </if>-->
    <!--        </where>-->
    <!--    </select>-->
    <!--    <insert id="addImgUrl" parameterType="">-->
    <!--        insert into img_file-->
    <!--        <trim prefix="(" suffix=")" suffixOverrides=",">-->
    <!--            <if test="name != null">-->
    <!--                name,-->
    <!--            </if>-->
    <!--            <if test="imgurl != null">-->
    <!--                imgurl,-->
    <!--            </if>-->
    <!--            <if test="fileurl != null">-->
    <!--                fileurl,-->
    <!--            </if>-->
    <!--        </trim>-->
    <!--        <trim prefix="values (" suffix=")" suffixOverrides=",">-->
    <!--            <if test="name != null">-->
    <!--                #{name},-->
    <!--            </if>-->
    <!--            <if test="imgurl != null">-->
    <!--                #{imgurl},-->
    <!--            </if>-->
    <!--            <if test="fileurl != null">-->
    <!--                #{fileurl},-->
    <!--            </if>-->
    <!--        </trim>-->
    <!--    </insert>-->

</mapper>
